/* adminReviews */
.adminReviews {
  width: 95%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10vw;
  margin-top: 3.5vw;
}
.adminReviews .table {
  width: 100%;
  height: auto;
  margin-top: 0.73vw;
}
.adminReviews .table .head_row {
  width: 100%;
  height: 1.82vw;
  display: flex;
  align-items: center;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
}
.adminReviews .table .head_row p {
  font-size: 1.04vw;
}
.adminReviews .table .content_row {
  width: 100%;
  height: 5.2vw;
  display: flex;
  align-items: center;
}
.adminReviews .table .even_row {
  background-color: #f7f7f7;
}
.adminReviews .table .content_row p {
  font-size: 0.9vw;
  font-weight: 200;
}
.adminReviews .table .row {
  display: flex;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
}
.adminReviews .table .row > p {
  text-align: center;
  white-space: pre-wrap;
}
.adminReviews .table .row > p:nth-child(1) {
  margin-left: 1vw;
  width: 2%;
  text-align: center;
}
.adminReviews .table .row > p:nth-child(2) {
  margin-left: 1.3vw;
  width: 46%;
  text-align: left;
  overflow: hidden;
}
.adminReviews .table .head_row > p:nth-child(2) {
  text-align: center;
}
.adminReviews .table .row > p:nth-child(3) {
  margin-left: 1.3vw;
  width: 3%;
  overflow: hidden;
}
.adminReviews .table .row > p:nth-child(4) {
  margin-left: 1.3vw;
  width: 18%;
  word-wrap: break-word;
  overflow: hidden;
}
.adminReviews .table .row > p:nth-child(5) {
  margin-left: 1.3vw;
  width: 7%;
}
.adminReviews .table .row > p:nth-child(6) {
  margin-left: 1.3vw;
  width: 7%;
}
.adminReviews .table .row > p:nth-child(7) {
  margin-left: 3vw;
  width: 5%;
}

.adminReviews .table .content_row .btn_box {
  width: 5%;
  height: 40%;
  margin-left: 3vw;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.adminReviews .table .content_row .btn_box p {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  cursor: pointer;
}
.adminReviews .table .content_row:last-child .btn_box p:first-child {
  border: none;
}
.adminReviews .change_btn {
  width: 5.47vw;
  height: 1.67vw;
  margin-top: 1.77vw;
  margin-left: auto;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  cursor: pointer;
}
.adminReviews .change_btn p {
  font-size: 0.8vw;
  cursor: pointer;
  color: white;
}
.adminReviews .update_btn {
  width: 5.47vw;
  height: 1.67vw;
  margin-top: 1.77vw;
  margin-left: auto;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  cursor: pointer;
}
.adminReviews .update_btn p {
  font-size: 0.8vw;
  cursor: pointer;
  color: white;
}
