@media (max-width: 500px) {
  .footer_container {
    height: 54.91vw;
  }
  .footer_container .footer {
    width: 85.98%;
    height: 79.15%;
  }
  .footer_container p {
    font-size: 2.8vw;
  }
  .footer_container .footer .article1 {
    width: 100%;
    height: 49%;
  }
  .footer_container .footer .logo {
    width: 29.79%;
    top: 74%;
  }
}
