/* login_s1  */
.login_s1 {
  width: 100%;
  height: 56.25vw;
  background-color: #e6e6e6;
}
.login_s1 .section_container {
  width: 26.51%;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  border: 1px solid white;
}
.login_s1 .section_container .article_container {
  width: 76.77%;
  height: 41.85%;
  margin: 0 auto;
  margin-top: 3.75vw;
}
.login_s1 .section_container .article_container .title_box {
  width: 100%;
  text-align: center;
  position: relative;
}
.login_s1 .section_container .article_container .title_box img {
  width: 0.75vw;
  height: 1.46vw;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  cursor: pointer;
}
.login_s1 .section_container .article_container .title_box p {
  font-size: 1.46vw;
  font-weight: 500;
  text-align: center;
  color: #1f0053;
}
.login_s1 .section_container .article_container .input_box {
  width: 100%;
  height: 42.48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3vw;
}
.login_s1 .section_container .article_container .input_box input {
  width: 100%;
  height: 25.52%;
  font-size: 0.89vw;
  font-weight: 400;
  padding-left: 0.8vw;
  border-radius: 0.3vw;
  border: 1px solid #919191;
}
.login_s1 .section_container .article_container .input_box .submit_btn {
  width: 100%;
  height: 25.52%;
  border: 1px solid #919191;
  border-radius: 0.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.04vw;
  font-weight: 500;
  color: white;
  background-color: #000035;
  cursor: pointer;
}
.login_s1 .section_container .article_container .sub_box {
  width: 100%;
  height: 5.09%;
  margin-top: 0.78vw;
  display: flex;
  justify-content: space-between;
}
.login_s1 .section_container .article_container .sub_box .auto_login_box {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login_s1 .section_container .article_container .sub_box .auto_login_box img {
  height: 100%;
}
.login_s1 .section_container .article_container .sub_box .auto_login_box p {
  font-size: 0.89vw;
  font-weight: 400;
  color: #919191;
}
.login_s1 .section_container .article_container .sub_box .find_box {
  width: 58%;
  height: 100%;
  display: flex;
}
.login_s1 .section_container .article_container .sub_box .find_box p {
  width: 52.71%;
  height: 100%;
  font-size: 0.89vw;
  font-weight: 400;
  color: #919191;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.login_s1
  .section_container
  .article_container
  .sub_box
  .find_box
  p:nth-child(1) {
  width: 47.29%;
  border-right: 1px solid #919191;
}
.login_s1 .section_container .article_container .signin_btn {
  width: 30%;
  height: 6.86%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000035;
  border-radius: 0.4vw;
  font-size: 0.89vw;
  font-weight: 500;
  color: #000035;
  margin-top: 1vw;
  cursor: pointer;
}
.login_s1 .section_container .article_container .kakao_btn {
  width: 70%;
  height: 14%;
  display: flex;
  align-items: center;
  border-radius: 0.3vw;
  background-color: #f7e028;
  margin-top: 3.6vw;
  cursor: pointer;
  position: relative;
  justify-self: center;
}
.login_s1 .section_container .article_container .kakao_btn img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.login_s1 .section_container .article_container .kakao_btn p {
  font-size: 1.04vw;
  font-weight: 500;
  color: #000035;
  margin-left: 0.89vw;
}
